@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* width: 100vw; */
  overflow-x: hidden;
}

a:hover {
  color: blue;
}

.primaryColor {
  color: #2975b6;
}

.primaryBgColor {
  background-color: #2975b6;
}

.darkOverlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.darkOverlaybgImage {
  /* background-color: rgba(0, 0, 0, 0.025); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/headerimage2.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.maxWidth {
  width: max-content;
}

.container,
.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 768px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Glassmorphism */
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.slide {
  transition-duration: 500ms;
  transition-property: transform;
}

.slide:focus-visible {
  transform: translateY(20px);
}
